@import './../theme';

main {
    height: 100%;
    padding: 20px;
    flex: 1;
    flex-direction: column-reverse;

    font-family: $font-text-primary;
}
header {
    padding: 10px 0;
    flex-direction: column-reverse !important;
    
    #contact-screen-btn, .screen-btn {
        cursor: pointer;
        border: none;
    }
    .image-wrapper {
        position: relative;
        // z-index: 2;
        flex: 1;
        overflow: hidden;

        .image-logo {
            margin: 0 auto;
            width: 170px;
            height: auto;
        }
    }
    .nav-links {
        padding: 0 10px 20px 0;
        font-family: $font-text-primary;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        
        .nav-side {
            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .right-nav-links {
            text-align: right;
        }
    }
}
#contact-screen, #welcome-screen, .overlay-section-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#contact-screen, .overlay-section-screen {
    display: none;
    background: $secondary-color;
    background: #fff;
    z-index: 1;

    .close-wrapper {
        padding: 20px;
        position: absolute;
        top: 40px;
        right: 5px;

        .close-btn {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            border: 2px solid gray;
            padding: 9px 13px;
        }
    }

    .contact-content {
        height: 100%;
        padding: 20px;
        justify-content: center;
        align-items: flex-start;

        h2 {
            font-family: $font-heading-primary;
            font-size: 30px;

            p {
                font-size: 19.8px;
                background: #ee0979;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .social-links-wrapper {
            margin-top: 20px;
            font-family: $font-heading-primary;
            .social-title {
                p {
                    padding-bottom: 10px;
                    border-bottom: 1px solid $text-tertiary-color;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $text-tertiary-color;
                }
            }
            .social-links {
                margin-left: 40px;
                font-size: 24px;
                font-weight: bold;

                li {
                    overflow: hidden;
                    padding-bottom: 20px;

                    &:nth-child(even) {
                        a {
                            color: $text-tertiary-color;
                        }
                    }

                    a {
                        text-decoration: none;
                        display: inline-block;
                        color: $text-primary-color;
                        
                        span {
                            position: relative;
                            display: block;

                            &:before {
                                width: 0;
                                overflow: hidden;
                                position: absolute;
                                content: attr(data-social);
                                transition: all 0.8s cubic-bezier(0.84, 0, 0.08, 0.99);

                                background: #ee0979;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }

                            &:hover:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
#blogs-screen {
    .social-title {
        min-width: 45px;

        p {
            font-size: 12px;
        }
    }
    .social-links {
        font-size: 16px;
        margin-left: 20px;

        li {
            padding-bottom: 10px;
            a {
                span {
                    &:before {
                        display: none;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
#welcome-screen {
    background: $primary-color;
    z-index: -1;
    .welcome-message {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        
        p {
            font-family: $font-text-hindi;
            font-size: 50px;
            text-align: center;
            overflow: hidden;

            span {
                display: block;
            }
        }  
    }
}
.hi-message {
    font-family: $font-text-hindi;
    margin: 0 10px 4px 0;
    font-size: 25px;
    text-align: left;

    overflow: hidden;
}
.main-title {
    padding: 10px 0;
    overflow: hidden;

    h1 {
        margin-right: auto;
        width: 250px;
        font-size: 43px;
        line-height: 0.83;
        letter-spacing: 2px;
        text-align: left;
        font-family: $font-heading-primary;
    
        .firstName {
            font-size: 49px;
            color: $text-primary-color;
        }
        .lastName {
            padding-top: 2px;
            color: $text-tertiary-color;

            background: #3E5151;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            height: 45px;
            &.hover-text-effect {
                &:before {
                    height: 45px;
                }
            }
        }
    }
    .brand-name__element {
        display: inline-block;
    }
}
.main-alterego {
    text-align: left;
    font-size: 20px;
    letter-spacing: 9.5px;
    margin-right: -7px;
}
.general {
    margin-top: 20px;
    text-align: left;
    
    h2 {
        font-size: 26px;
        overflow: hidden;

        .line {
            display: inline-block;
        }
    }
    .passionate-subtitle {  
        overflow: hidden;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        hr, p {
            display: inline-block;
        }

        hr {
            width: 7px;
            border: none;
            border-bottom: 12px solid #333;
        }
        p {
            margin-left: 5px;
            overflow: hidden;
            span {
                display: inline-block;
            }
        }
    }
}
.salute {
    flex: 1;
    overflow: hidden;

    .main-description {
        margin-top: 20px;
        text-align: left;
        font-family: $font-text-primary;
        font-size: 13px;
        line-height: 1.75;
    }
}

footer {
    font-family: $font-text-primary;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;

    .year-stamp {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    header {
        flex-direction: column !important;

        #contact-screen-btn, .screen-btn {
            border: 2px solid $text-tertiary-color;
        }

        .image-wrapper {            
            .image-logo {
                width: 250px;
            }
        }
        .nav-links {
            padding: 0;
        }
    }
    main {
        padding: 50px 80px;

        flex-direction: row;

        .general {
            margin-top: 0;
            align-self: flex-end;
            text-align: left;

            h2 {
                font-size: 40px;
            }
            .passionate-subtitle {
                margin-top: 10px;

                hr {
                    width: 66px;
                }
            }
        }

        .salute {
            .main-description {
                width: 350px;
                margin-right: auto;
            }
        }
    }
    .main-title {
        h1 {
            width: 500px;
            font-size: 112px;
            .firstName {
                font-size: 125px;
            }
            .lastName {
                height: 120px;

                &.hover-text-effect {
                    &:before {
                        height: 120px;
                    }
                }
            }
        }
    }
    .main-alterego {
        font-size: 20px;
        letter-spacing: 40px;
        margin-right: -32px;
    }
    .hi-message {
        font-size: 32px;
    }
    #contact-screen, .overlay-section-screen {
        .close-wrapper {
            padding: 20px;
            top: 40px;
            right: 40px;
    
            .close-btn {
                font-size: 25px;
                padding: 0.75em 1em;
            }
        }
        
        .contact-content {
            padding: 20px 40px;

            h2 {
                font-size: 70px;

                p {
                    font-size: 46px;
                }
            }
        }
    }
    #blogs-screen {
        .social-title {
            min-width: 60px;

            p {
                font-size: 16px;
            }
        }
        .social-links {
            margin-left: 40px;
            font-size: 24px;
            max-width: 70%;

            li {
                padding-bottom: 20px;
            }
        }
    }
}